.npc{
    width:80px;
    aspect-ratio: 1 / 1;
    position: relative;


}
.head{
    position:absolute;
    border:solid;
    width:40%;
    height:20%;
    top: 5%;
    left: 25%;
    background-color:gray;
}


.torso{
  position: absolute;
  width:100%;
  height: 100%;
  transform:translate(0%,0%);

}

.body{
    position:absolute;
    border: solid;
    width:60%;
    height: 50%;
    background-color:#660000; 
    z-index:2;
    top: 24%;
    left: 15%;
  
}

.arm-righ{
    position: absolute;
    width: 10%;
    height: 35%;
    background-color:gray;
    transform:translate(50%,72%);
}

.arm-righ-body{
    position:absolute;
    width: 100%;
    height: 70%;
    background-color: #660000;

    
}

.arm-left{
    position: absolute;
    width: 10%;
    height: 35%;
    background-color:gray;
    top:24%;
    left: 75%;

}
.arm-left-body{
    position:absolute;
    width: 100%;
    height: 70%;
    background-color: #660000;
    top: 0%;
    left: 0%;
    
}

.legs{
     position:absolute;
    height:30%;
    width:90%;
    top:63%;
    left:0%;
    z-index: 3;

}

.leg-left{
    position:absolute;
    height:60%;
    width:20%;
    background-color:gray;
    top:40%;
    left:25%;
}

.short-left{
    position: absolute;
    width:100%;
    height: 50%;
    background-color: green;
    border: 1px solid;
    top: 0%;
    left: 0%;

}

.leg-right{
    position:absolute;
    height:60%;
    width:20%;
    background-color:grey;
    top:40%;
    left:55%;
}

.short-right{
    position: absolute;
    width:100%;
    height: 50%;
    background-color: green;
    border: 1px solid;
    top: 0%;
    left: 0%;

}