.npc{
    display:flex;
    flex-direction:column;
    width:150px;
    aspect-ratio: 1 / 1;
    position: absolute;
    align-items:center;
    justify-content:flex-start;
    gap: 0;


}
.head{
    position:absolute;
    border:solid;
    width:30%;
    height:15%;
    background-color:gray;
    margin:0px;
    border-radius:30%;
    transform:translate(0%,0%);

    

}

.ojos{
    display:flex;
    width:80%;
    height:30%;
    transform:translate(10%,30%);
 
}

.ojo1{
width:10%;
aspect-ratio: 1 / 1;
border-radius:50%;
background-color:black;
transform:translate(70%,60%);

}
.ojo2{
width:10%;
border-radius:50%;
aspect-ratio: 1 / 1;
background-color:black;
transform:translate(700%,60%);
}

.boca{
    height:20%;
    width:40%;
    background-color:black;
    border-radius:20%;
    transform:translate(70%,150%);

}
/*
.dientes{
    height:30%;
    width:40%;
    background-color:rgb(88, 7, 7);
    border-radius:30%;
    transform:translate(60%,80%);
}
*/
.torso{
  position:absolute;
  display:flex;
  flex-direction:row;
  position: absolute;
  width:100%;
  height: 50%;
  align-items: center;
  justify-content:center;
  margin:0px;
  top:8%;


}

.body{

    border: solid;
    width:60%;
    height: 60%;
    background-color:#660000; 
    border-radius:10%

    

  
}

.arm-righ{
    width: 10%;
    height: 50%;
    background-color:gray;
    border-radius:30%;



}

.arm-righ-body{
    width: 100%;
    height: 70%;
    background-color: #660000;
    border-radius:6%;

    
}

.arm-left{

    width: 10%;
    height: 50%;
    background-color:gray;
    border-radius:30%;
    



}
.arm-left-body{

    width: 100%;
    height: 70%;
    background-color: #660000;
    border-radius:6%;

}

.legs{
    position:absolute;
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:30%;
    width:90%;
    margin:0px;
    position: absolute;
    top: 48%;

}

.leg-left{
    margin:0px 10% 0px 0px;
    height:60%;
    width:20%;
    background-color:gray;
    border-radius:20%;

}

.short-left{

    width:100%;
    height: 50%;
    background-color: green;
    border: 1px solid;


}

.leg-right{

    height:60%;
    width:20%;
    background-color:grey;
    border-radius:20%;

}

.short-right{

    width:100%;
    height: 50%;
    background-color: green;
    border: 1px solid;


}