.npc{
    border: solid;
    background-color:rgb(236, 230, 230);
    width:100px;
    height: 100px;
    position:absolute;
    
    z-index:1;


}
.head{
    position:absolute;
    border:solid;
    width:40px;
    height:20px;
    transform:translate(55%,5px);
    background-color:blue;
}

.body{
    border: solid;
    width:60px;
    height: 50px;
    position:absolute;
    background-color:blue; 
    z-index:2;
    top:50%;
    left:-50%;
    transform:translate(65px,-25px)


}

.legs{
     position:absolute;
    height:30px;
    width:90px;
    top:70%;
    left:0%;
    transform:translate(0%,-5%)

}

.leg-left{
    position:absolute;
    height:50%;
    width:30%;
    background-color:black;
    top:50%;
    left:0%;
    transform:translate(40%,-25%)
}

.leg-right{
    position:absolute;
    height:50%;
    width:30%;
    background-color:black;
    top:50%;
    left:50%;
    transform:translate(20%,-25%)
}