.circulo{
    border-radius:50%;
    border: solid;
    width:40px;
    height: 40px;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
     transform: translate(-50%, -50%);


}