.level-buttom{
    display:flex;
    justify-content:center;
    align-items:center;

    width: 60px;
    height: 40px;
    
    background-color:#c94f4f;
    border:solid 1px #8b3a3a;
    border-radius:20%;
    user-select:none;
    z-index: 2;
}

.level-buttom-active{
    display:flex;
    justify-content:center;
    align-items:center;

    width: 60px;
    height: 40px;
    
    background-color: rgb(255, 160, 122);
    color: antiquewhite;
    border:solid 1px white;
    border-radius:20%;
    user-select: none;
    z-index: 2;
}

.level-buttom:hover{
    
    background-color: #d97c2b;
    color: antiquewhite;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}