.level-buttom{
    display:flex;
    justify-content:center;
    align-items:center;

    width: 60px;
    height: 40px;
    
    background-color:blueviolet;
    border:solid 1px white;
    border-radius:20%;


}