.npc{
    display:flex;
    flex-direction:column;
    width:150px;
    aspect-ratio: 1 / 1;
    position: absolute;
    align-items:center;
    justify-content:flex-start;
    gap: 0;
    z-index: 1;


}
.head{
    position:absolute;
    border:solid;
    width:2em;
    height:2.3em;
    background-color:#6b8e6b;;
    margin:0px;
    border-radius:11.87em;
    transform:translate(0%,-20%);
    box-shadow: inset 0.3em 0 rgb(65, 92, 65,0.5);
    

}

.ojos{
    display:flex;
    width:80%;
    height:30%;
    transform:translate(10%,30%);
 
}

.ojo1{
width:10%;
aspect-ratio: 1 / 1;
border-radius:50%;
background-color:black;
transform:translate(70%,60%);

}
.ojo2{
width:10%;
border-radius:50%;
aspect-ratio: 1 / 1;
background-color:black;
transform:translate(700%,60%);
}

.boca{
    height:20%;
    width:40%;
    background-color:black;
    border-radius:20%;
    transform:translate(70%,150%);

}
/*
.dientes{
    height:30%;
    width:40%;
    background-color:rgb(88, 7, 7);
    border-radius:30%;
    transform:translate(60%,80%);
}
*/
.torso{
  position:absolute;
  display:flex;
  flex-direction:row;
  position: absolute;
  width:6em;
  height: 5em;
  align-items: center;
  justify-content:center;
  margin:0px;
  top:8%;


}

.body{

    border: solid;
    width:2.8em;
    height: 2.6em;
    background-color: #4b4737;
    border-radius: 0.9em 0.9em 0em 0em;
  
}

.arm-righ{
    width: 10%;
    height: 50%;
    background-color:#6b8e6b;
    border-radius:30%;
    transform: translate(0%,12%);
   



}

.arm-righ-body{
    width: 100%;
    height: 70%;
    background-color:  #4b4737;
    border-radius:6%;
    border-radius: 1em 0.2em 1em 1em;

    
}

.arm-left{

    width: 10%;
    height: 50%;
    background-color:#6b8e6b;
    border-radius:30%;
    transform: translate(0%,12%);
    



}
.arm-left-body{

    width: 100%;
    height: 70%;
    background-color: #4b4737;
    border-radius:6%;
    border-radius: 0.2em 1em 1em 1em;

}
.pants{
position:absolute;
display: flex;
flex-direction: column;
top: 52%;
left: 34%;

}
.short{
    position:absolute;
    width:2.9em;
    height: 1.1em;
    background-color: #2d4a3e;;
    transform: translate(-0%,-60%);
    border-radius: 0em 0em 0.9em 0.9em;
    border: 1px solid;
    z-index: 1;
}
.legs{
    position:absolute;
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:4em;
    width:5em;
    margin:0px;
    transform: translate(-20%,2%);

    

}

.leg-left{
    margin:0px 10% 0px 0px;
    height:60%;
    width:20%;
    background-color:#6b8e6b;
    border-radius:20%;

}

.short-left{

    width:110%;
    height: 50%;
    background-color: #2d4a3e;;
    border: 1px solid;
    transform:translate(-10%,0%);


}

.leg-right{

    height:60%;
    width:20%;
    background-color:#6b8e6b;
    border-radius:20%;

}

.short-right{

    width:110%;
    height: 50%;
    background-color: #2d4a3e;
    border: 1px solid;
    transform:translate(-10%,0%);


}