.texpPS{
    display:flex;
    flex-direction:column;
   background-color:rgb(223, 116, 90);
    height:200px;
    width:260px;
     font-size:18px;
    border:white solid 2px;
     border-radius:20%;
     justify-content:center;
     align-items:center;
     user-select:none;
     padding:1px;



}