.texpPS{
    display:flex;
    flex-direction:column;
    background-color:rgb(223, 116, 90);
    height:180px;
    width:250px;
    
    border:white solid 2px;
    border-radius:20%;

     padding:10px;
     margin: 5px;
     user-select:none;
}


.text{
     font-size:18px;
     justify-content:center;
     align-items:center;
     text-align: center;
     user-select:none;
}