.texpPS{
    display:flex;
    flex-direction:column;
   /* background-color:blue;*/
    height:50px;
    width:250px;
     font-size:18px;
   /*  border:white solid 2px;*/
     border-radius:20%;
     justify-content:center;
     align-items:center;
     user-select:none;
}