.texpPS{
    display:flex;
    flex-direction:column;
    background-color:#3a2a1e;
    height:200px;
    width:250px;
    
    border:white solid 2px;
    border-radius:20%;

     padding:10px;
     margin: 5px;
     user-select:none;
     color: #a59f8a;
}


.text{
     font-size:18px;
     justify-content:center;
     align-items:center;
     margin: 5px;

}
