.texpPS{
    display:flex;
    flex-direction:column;
    font-size:17px;
    background-color:rgb(223, 116, 90);
    height:180px;
    width:280px;
    
    border:white solid 2px;
    border-radius:20%;

     padding:10px;
     margin: 5px;
     user-select:none;
         
     justify-content:center;
     align-items:center;

}
